<template>
    <div>
        <footer class="footer items-center p-4 ">
            <aside class="items-center grid-flow-col">
                <svg width="36" height="36" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                    clip-rule="evenodd" class="fill-current">
                    <path
                        d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z">
                    </path>
                </svg>
                <p>Copyright © 2024 - All right reserved</p>
            </aside>
            <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">

                <a @click="jump2gitlab"><svg t="1713166212704" class="icon fill-current" viewBox="0 0 1024 1024"
                        version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4387" width="24" height="24">
                        <path
                            d="M1007.0012 409.2l-1.4-3.6-139.4-363.56c-2.8-7.14-7.8-13.18-14.4-17.28-4.8-3.1-10.2-5.03-16-5.62-5.8-0.59-11.4 0.166-16.8 2.22-5.4 2.04-10.2 5.32-14.2 9.56-3.8 4.24-6.6 9.34-8.2 14.88l-94 288H321.6012l-94.2-288c-1.6-5.54-4.4-10.62-8.2-14.86-4-4.24-8.8-7.5-14.2-9.54a36.2 36.2 0 0 0-16.76-2.226 36.8 36.8 0 0 0-16.08 5.586 36.18 36.18 0 0 0-14.32 17.28L18.5352 405.6l-1.448 3.6a259.14 259.14 0 0 0-7.04 164c15.494 53.8 48.094 101.4 92.894 135.2l0.54 0.4 1.18 0.8 211.94 159 105.2 79.4 64 48.4c7.4 3.8 16.6 8.6 26 8.6 9.4 0 18.6-4.8 26-8.6l64-48.4 105.2-79.4 213.4-159.8 0.6-0.6c44.8-33.8 77.4-81.2 91.2-135 17.2-54 14.8-111.6-5.2-164z"
                            p-id="4388"></path>
                    </svg>
                </a>
            </nav>
        </footer>
    </div>
</template>

<script setup>

const jump2gitlab = () => {
    window.open('https://gitlab.com/OzzyWang/MyLedger')
}

</script>

<style lang="scss" scoped></style>