<template>
    <div class="flex justify-center items-center h-full">
        <div class="flex justify-center items-center">
            <div>
                <span class="loading loading-ring loading-lg"></span>
            </div>
        </div>
    </div>
</template>

<script setup>

</script>
