<template>
    <div @click="test" ref="plotlyChart" class="min-h-full  overflow-hidden"></div>
</template>

<script setup>
import { ref, onMounted, watch, computed } from 'vue';
import Plotly from 'plotly.js-dist-min';
import { useInfoStore } from '../../stores/info';

const infoStore = useInfoStore()

const props = defineProps(['chartData'])

const plotlyChart = ref(null);

const drawChart = () => {

    // 获取日期范围
    function getDateRange() {
        let today = new Date();
        let tomorrow = new Date(today);
        tomorrow.setDate(today.getDate() + 3);
        let priorDate = new Date().setDate(today.getDate() - 30);

        return {
            start: new Date(priorDate).toISOString().split('T')[0], // 格式化为YYYY-MM-DD
            end: tomorrow.toISOString().split('T')[0] // 格式化为YYYY-MM-DD
        };
    }

    let { start, end } = getDateRange();


    const records = infoStore.recordList.filter(item => item.ledgerId === infoStore.ledgerList[infoStore.currentLedger].id)

    const dates = [];
    const values = [];

    // 遍历 records
    records.forEach(record => {
        // 获取日期
        const date = new Date(record.time).toISOString().split('T')[0];
        // 获取值
        const value = record.isIncome ? record.amount : -record.amount;
        // 添加到日期和值数组中
        dates.push(date);
        values.push(value);
    });


    // 累加 values 中的值，直到dates中的日期超过start
    let total = 0;
    let i = 0


    
    

    const data_x = [];
    const data_y = [];

    let sum = 0;
    while (i < dates.length) {
        let date1 = new Date(dates[i]);
        let date2 = new Date(dates[i + 1]);
        if (date1.getDate() === date2.getDate()) {
            sum += values[i];
            i++;
        } else {
            sum += values[i]
            total += sum
            data_x.push(dates[i]);
            data_y.push(total);
            i++;
            sum = 0;
        }
    }


    let trace = [{
        x: data_x,
        y: data_y,
        type: 'scatter',  // 这里以散点图为例，你也可以选择其他类型，如 'bar' 等
        mode: 'lines+markers'  // 线图与标记点
    }]


    const layout = {
        dragmode: false,
        xaxis: {
            range: [start, end] // 设置x轴的范围为start到end
        },
        yaxis: {
            // range: [-30, 30] // 设置y轴的范围为0到20
        },
        margin: { l: 60, r: 100, t: 10, b: 40 },
        width: 800,
    }
    const config = { displayModeBar: false };
    Plotly.newPlot(plotlyChart.value, trace, layout, config);
};

onMounted(() => {
    drawChart();
});

watch(() => [infoStore.recordList, infoStore.currentLedger], (newData, oldData) => {
    if (newData !== oldData) {
        drawChart();
    }
}, {
    deep: true
});

function test() {
    console.log(props)
}
</script>