<template>
    <div class="card bg-base-100 p-6 max-h-full w-96 shadow-lg">
        <PlotlyChart v-if="showReport" class="max-h-64"></PlotlyChart>
        <div v-else class="flex justify-center items-center h-full">
            <div class="flex justify-center items-center">
                <div>
                    <span>暂无数据</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref,computed } from 'vue';
import PlotlyChart from './Report.vue';

import { useInfoStore } from '../../stores/info';

const infoStore = useInfoStore();

const showReport = computed(() => {
    const list = infoStore.recordList.filter(item => item.ledgerId === infoStore.ledgerList[infoStore.currentLedger].id)

    return list.length > 0;
})


</script>