<template>
    <dialog class="modal">
        <div class="modal-box">
            <h3 class="font-bold text-lg">新建账户</h3>
            <br>
            <div class="p-3">

                <label class="input input-bordered flex items-center gap-2 my-2">
                    账户名称
                    <input type="text" v-model="accountName" class="grow ml-5" placeholder="填写账户名称" />
                </label>
                <div class="modal-action">
                    <button class="btn btn-primary" @click="createAccount">Submit</button>
                    <form method="dialog">
                        <!-- if there is a button in form, it will close the modal -->
                        <button class="btn">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </dialog>
</template>

<script setup>
import { ref } from 'vue'
import router from '../../router';
import { useAxios } from '../../utils/axios'

const props = defineProps(['account_type','ledger_id'])


const accountName = ref('')



const createAccount = async () => {
    const data = {
        ledgerId:props['ledger_id'],
        type: props['account_type'],
        accountName: accountName.value,
    }
    console.log(accountName.value)
    console.log(data)
    await useAxios('/account', data, 'POST').then((response) => {
        setTimeout(() => {
            router.push('/loading')
        }, 500)
    })
}

</script>

<style scoped></style>