<template>
    <dialog class="modal">
        <div class="modal-box">
            <h3 class="font-bold text-lg">新建预算项</h3>
            <br>
            <div class="p-3">

                <select v-model="selected" class="select select-bordered w-full max-w-s">
                    <option selected disabled value=0>选择分类</option>
                    <option value=1>账单</option>
                    <option value=2>我需要</option>
                    <option value=3>我想要</option>
                    <option value=4>存款</option>
                </select>
                <label class="input input-bordered flex items-center gap-2 my-2">
                    预算名称
                    <input v-model="name" type="text" class="grow ml-8" placeholder="填写名称" />
                </label>
                <label class="input input-bordered flex items-center gap-2 my-2">
                    需求金额
                    <input v-model="demand" type="text" class="grow ml-8" placeholder="00.00" />
                </label>

                <div class="modal-action">
                    <button @click="createBudget" class="btn btn-primary">Submit</button>
                    <form method="dialog">
                        <!-- if there is a button in form, it will close the modal -->
                        <button class="btn">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </dialog>
</template>

<script setup>
import { ref } from 'vue'
import router from '../../router';
import { useAxios } from '../../utils/axios'
import { useInfoStore } from '../../stores/info';

const selected = ref(0)
const demand = ref()
const name = ref('')

const infoStore = useInfoStore()

const createBudget = async () => {
    const data = {
        id: infoStore.ledgerList[infoStore.currentLedger].id,
        type: selected.value,
        demand: demand.value,
        name: name.value,
    }
    await useAxios('/budget', data, 'POST').then((response) => {
        setTimeout(() => {
            router.push('/loading')
        }, 500)
    })
}
</script>

<style scoped></style>