<template>
    <dialog class="modal">
        <div class="modal-box">
            <h3 class="font-bold text-lg">新建账本</h3>
            <br>
            <div class="p-3">

                <label class="input input-bordered flex items-center gap-2 my-2">
                    账本名称
                    <input type="text" v-model="name" class="grow ml-5" placeholder="填写账本名称" />
                </label>
                <div class="modal-action">
                    <button class="btn btn-primary" @click="createLedger">Submit</button>
                    <form method="dialog">
                        <!-- if there is a button in form, it will close the modal -->
                        <button class="btn">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </dialog>
</template>

<script setup>
import { ref } from 'vue'
import router from '../../router';
import { useInfoStore } from '../../stores/info.js'
import { useAxios } from '../../utils/axios.js'

const name = ref('')

const infoStore = useInfoStore()

const createLedger = async () => {
    const data = {
        name: name.value,
    }
    await useAxios('/ledger', data, 'POST').then((response) => {
        setTimeout(() => {
            router.push('/loading')
        }, 500)
    })
}

</script>

<style scoped></style>