<template>
    <dialog class="modal">
        <div class="modal-box">
            <h3 class="font-bold text-lg">记一笔</h3>
            <br>
            <div class="p-3">
                <div class="flex flex-row items-center">
                    <div class="flex">这是一笔</div>
                    <div
                        class="rounded-full mx-1 border border-4 border-gray-300 w-12 h-12 bg-gray-50 flex justify-center">
                        <div class="tooltip tooltip-right flex" data-tip="点击切换">
                            <label class="swap swap-rotate">
                                <!-- this hidden checkbox controls the state -->
                                <input type="checkbox" v-model="isIncome" />
                                <h4 class="swap-on">收入</h4>
                                <h4 class="swap-off">支出</h4>
                            </label>
                        </div>
                    </div>
                    <div class="flex">。</div>
                </div>
                <select v-model="selectedAccount" class="select select-bordered w-full max-w-s my-1">
                    <option selected disabled value=0>选择账户</option>
                    <option v-for="(item, index) in infoStore.accountList"
                        v-show="item.ledgerId == infoStore.ledgerList[infoStore.currentLedger].id" :key="index"
                        :value="item.id" @click="console.log(index)">{{ item.name }}</option>
                </select>
                <select v-model="selectedBudget" class="select select-bordered w-full max-w-s mt-1">
                    <option selected disabled value=-1>选择预算</option>
                    <option v-for="(item, index) in infoStore.budgetList"
                        v-show="item.ledgerId == infoStore.ledgerList[infoStore.currentLedger].id" :key="index"
                        :value="item.id">{{ item.name }}</option>
                </select>
                <label class="input input-bordered flex items-center gap-2 my-2">
                    交易对象
                    <input type="text" v-model="payee" class="grow ml-8" placeholder="" />
                </label>
                <label class="input input-bordered flex items-center gap-2  my-2">
                    金额
                    <input type="text" v-model="amount" class="grow ml-8" placeholder="00.00" />
                </label>
                <label class="input input-bordered flex items-center gap-2  my-2">
                    备注
                    <input type="text" v-model="desc" class="grow ml-8" placeholder="填写备注" />
                </label>
                <div class="modal-action">
                    <button @click="createRecord()" class="btn btn-primary">Submit</button>
                    <form method="dialog">
                        <!-- if there is a button in form, it will close the modal -->
                        <button class="btn">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </dialog>
</template>

<script setup>
import { ref } from 'vue'
import router from '../../router';
import { useAxios } from '../../utils/axios'
import { useInfoStore } from '../../stores/info';

const infoStore = useInfoStore()

const selectedAccount = ref(0)
const selectedBudget = ref(-1)
const payee = ref('')
const isIncome = ref(true)
const amount = ref()
const desc = ref('')

const createRecord = async () => {
    console.log(infoStore);
    const data = {
        payee: payee.value,
        accountId: selectedAccount.value,
        budgetId: selectedBudget.value,
        isIncome: isIncome.value,
        amount: amount.value,
        desc: desc.value,
    }
    await useAxios('/record', data, 'POST').then((response) => {
        setTimeout(() => {
            router.push('/loading')
        }, 500)
    })
}


</script>

<style scoped></style>