<template>
    <div>
        <div class="card h-32 w-48 ml-3 bg-base-100 shadow-lg">
            <div class="card-body p-3">
                <div class="dropdown  dropdown-bottom dropdown-start w-full">
                    <div tabindex="0" role="button">

                        <h2 class="card-title m-2 ml-3 text-xl">{{ props.name }}</h2>
                    </div>
                    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                        <!-- <li onclick="my_modal_2.showModal()"><a>Set Target</a></li> -->
                        <li @click="delete_account"><a class="text-red-500">Delete</a></li>
                    </ul>
                </div>
                <p class="mx-auto pt-1">{{ props.balance }}</p>
            </div>


        </div>

    </div>
</template>
<script setup>
import { ref } from 'vue';
import router from '../../router';
import { useAxios } from '../../utils/axios';
import AddRecord from './AddRecord.vue';
import { useInfoStore } from '../../stores/info';

const infoStore = useInfoStore();

const props = defineProps(['name', 'balance', 'accountId'])

const add_record = () => {
    infoStore.setCurrentAccount(props.accountId)
    add_record_modal.showModal()
}
const delete_account = async () => {
    await useAxios('/account/' + props.accountId, {}, 'DELETE').then((response) => {
        setTimeout(() => {
            router.push('/loading')
        }, 500)
    })
}
</script>

<style lang="scss" scoped></style>../../stores/info../../stores/account