<template>
    <dialog class="modal">
        <div class="modal-box">
            <h3 class="font-bold text-lg">上传文件</h3>
            <br>
            <div class="pyt-8">
                <div class="mx-auto w-full max-w-xs">

                    <input type="file" @change="handleFileChange"
                        class="file-input file-input-bordered w-full max-w-xs" />
                </div>

                <div class="modal-action mt-8">
                    <button class="btn btn-primary" @click="uploadFile">Submit</button>
                    <form method="dialog">
                        <!-- if there is a button in form, it will close the modal -->
                        <button class="btn">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </dialog>
</template>

<script setup>
import { ref } from 'vue';
import { useAxios } from '../../utils/axios';
import router from '../../router';

const file = ref(null);

const props = defineProps(['ledger_id'])

function handleFileChange(event) {
    file.value = event.target.files[0];
}

const uploadFile = async () => {
    console.log(file.value)
    if (file.value) {
        const formData = new FormData();
        const t = props.ledger_id
        console.log(t)
        formData.append('file', file.value);
        formData.append('ledgerId', t);
        await useAxios('/upload_csv', formData, 'POST').then((response) => {
            setTimeout(() => {
                router.push('/loading')
            }, 500)
        })
    }

}

</script>
