<template>
    <div class="card bg-base-100 p-6 gap-2 shadow-lg">
        <!--  -->
        <div class="flex flex-row items-center gap-2">
            <div class="label">
                <span class="label-text">选择账本</span>
            </div>
            <div class="dropdown min-w-32">
                <div tabindex="0" role="button" class="btn">{{ ledgerName }}</div>
                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                    <li v-for="(item, index) in infoStore.ledgerList" @click="changeLedger(index)"><a>{{
                    item.name
                }}</a></li>
                </ul>
            </div>
            <div class="flex-none">
                <div class="tooltip tooltip-right" data-tip="新建账本">
                    <button class="btn btn-neutral btn-square" onclick="add_ledger_modal.showModal()">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"
                            class="inline-block w-5 h-5 stroke-current fill-white">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="25 "
                                d="M480 480V128a32 32 0 0 1 64 0v352h352a32 32 0 1 1 0 64H544v352a32 32 0 1 1-64 0V544H128a32 32 0 0 1 0-64z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="grow"></div>
            <!-- 右上更多 -->
            <div class="flex-none">
                <div class="tooltip tooltip-bottom" onclick="add_record_modal.showModal()" data-tip="记一笔">
                    <button class="btn">
                        记一笔
                    </button>
                </div>
            </div>
            <div class="flex-none">
                <div class="dropdown dropdown-bottom dropdown-end">
                    <div tabindex="0" role="button" class=" btn btn-square btn-error">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="1"></circle>
                            <circle cx="19" cy="12" r="1"></circle>
                            <circle cx="5" cy="12" r="1"></circle>
                        </svg>
                    </div>
                    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                        <li onclick="file_input_modal.showModal()"><a>Import External CSV</a></li>
                        <li><a @click="deleteCurrentLedger()" class="text-red-500">删除此账本</a></li>
                        <!-- <li><a>Item 2</a></li> -->
                    </ul>
                </div>
            </div>
        </div>

        <!--  -->
        <div class="flex bg-gray-100 overflow-y-visible rounded-box mt-1 pr-2">
            <ul class="menu py-5 bg-neutral-200 rounded-l-2xl">
                <li class="mb-1 w-24" @click="changeAccount(0)"><a class="mx-auto"
                        :class="{ active: chooseAccount == 0 }">虚拟钱包</a>
                </li>
                <li class="mb-1  w-24" @click="changeAccount(1)"><a class="mx-auto"
                        :class="{ active: chooseAccount == 1 }">现金账户</a>
                </li>
                <li class="mb-1 w-24" @click="changeAccount(2)"><a class="mx-auto"
                        :class="{ active: chooseAccount == 2 }">储蓄账户</a>
                </li>
                <li @click="changeAccount(3)"><a class="mx-auto" :class="{ active: chooseAccount == 3 }">其他账户</a></li>
            </ul>
            <div class="flex overflow-x-scroll overflow-y-visible w-full items-center snap-x mb-2">
                <Card v-for="(item, index) in infoStore.accountList" :key="index" :name=item.name :balance=item.balance
                    :accountId=item.id
                    v-show="item.type == chooseAccount && item.ledgerId == infoStore.ledgerList[chooseLedger].id"
                    class="snap-start"></Card>
                <div>
                    <div class="card h-32 w-48 mx-3 bg-base-100 shadow-lg">
                        <div class="card-body p-3">
                            <div class="flex justify-center items-center h-full">
                                <button class="btn btn-square bg-base-200 mb-1" onclick="add_account_modal.showModal()">
                                    <svg role="img" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px"
                                        viewBox="0 0 24 24" aria-labelledby="plusIconTitle" stroke="#000000"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="miter" fill="none"
                                        color="#000000">
                                        <path d="M20 12L4 12M12 4L12 20" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <Assign id="assign_modal" :ledger_id="ledgerId"></Assign>
        <AddRecord id="add_record_modal" />
        <AddLedger id="add_ledger_modal"></AddLedger>
        <AddAccount id="add_account_modal" :ledger_id="ledgerId" :account_type="chooseAccount" />
        <AddBudget id="add_budget_modal" />
        <FileInput id="file_input_modal" :ledger_id="ledgerId" />
    </div>
</template>

<script setup>
import { onMounted, ref, computed } from "vue";
import AddRecord from "./AddRecord.vue";
import AddAccount from "./AddAccount.vue";
import AddLedger from './AddLedger.vue'
import AddBudget from "./AddBudget.vue";
import Assign from "../BudgetCard/Assign.vue";
import FileInput from "./FileInput.vue";
import { useAxios } from '../../utils/axios'
import router from "../../router";
import Card from "./Card.vue";
import { useUserStore } from '@/stores/user'
import { useInfoStore } from '@/stores/info'
const userStore = useUserStore()
const infoStore = useInfoStore()

const chooseLedger = ref(0)
const chooseAccount = ref(0)

const ledgerName = computed(() => {
    let a = ''
    if (infoStore.ledgerList.length > 0) {
        a = infoStore.ledgerList[chooseLedger.value].name
    }
    return a
})
const ledgerId = computed(() => {
    let a = 0
    if (infoStore.ledgerList.length > 0) {
        a = infoStore.ledgerList[chooseLedger.value].id
    }
    console.log(a)
    return a
})


const changeLedger = (index) => {
    chooseLedger.value = index
    infoStore.currentLedger = index
    chooseAccount.value = 0
}

const changeAccount = (index) => {
    chooseAccount.value = index
}

const deleteCurrentLedger = async () => {
    const id = infoStore.ledgerList[chooseLedger.value].id
    infoStore.currentLedger = 0
    await useAxios('/ledger/' + id, {}, 'DELETE').then((response) => {
        setTimeout(() => {
            router.push('/loading')
        }, 500)
    })
}

</script>

<style scoped>
/* 定制整个页面的滚动条 */
::-webkit-scrollbar {
    width: 8px;
    /* 滚动条的宽度 */
    height: 8px;
    /* 滚动条的高度 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background-color: rgb(243 244 246);
    /* 滑块的颜色 */
    border-radius: 10px;
    /* 滑块的圆角 */
}

/* 滚动条滑块:hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(243 244 246);
    /* 鼠标悬停时滑块的颜色 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background: rgb(243 244 246);
    /* 轨道的颜色 */
    border-radius: 5px;
    /* 轨道的圆角 */
}

/* 滚动条轨道片段 */
::-webkit-scrollbar-track-piece {
    background: transparent;
    /* 轨道片段的背景颜色 */
}
</style>