<template>
    <div class="flex min-h-screen justify-center items-center h-full">
        <span class="loading loading-ring loading-lg"></span>
    </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import { url_prefix } from '../config';
import axios from 'axios';
import router from '../router';
import { useUserStore } from '@/stores/user'
import { useInfoStore } from '@/stores/info'

const userStore = useUserStore()
const infoStore = useInfoStore()

onMounted(() => {
    getInfo()
})

const getInfo = async () => {
    const token = userStore.token
    // 请求获取信息
    try {
        const a = url_prefix + '/api/get_info'
        await axios.get(a, {
            headers: { Authorization: token }
        }).then(function (response) {
            // 将信息写入store
            userStore.setUser(response.data.user)
            infoStore.setLedger(response.data.ledger)
            infoStore.setAccount(response.data.account)
            infoStore.setBudget(response.data.budget)
            infoStore.setRecord(response.data.record)
            console.log(response.data)
            setTimeout(() => {
                router.push('/home')
            }, 1000)
        })
    } catch (error) {
        console.error(error)
        router.push('/error')
    }
}
</script>
