<template>
  <div class="hero min-h-screen bg-base-200">

    <label class="swap">
      <input type="checkbox" v-model="isLoading" disabled />
      <Loading class="swap-on"></Loading>
      <div id="form_box" class="swap-off hero-content flex-col lg:flex-row-reverse">
        <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
          <div class="card-body">
            <div class="form-control">
              <label class="label">
                <span class="label-text">Email</span>
              </label>
              <input v-model="email" type="email" placeholder="Email" class="input input-bordered" required />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Password</span>
              </label>
              <input v-model="password" type="password" placeholder="password" class="input input-bordered" required />
              <label class="label">
                <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
              </label>
            </div>
            <div class="form-control mt-6">
              <button class="btn btn-primary" @click="login">Login</button>
            </div>
          </div>
        </div>
      </div>
    </label>

  </div>
</template>

<script setup>
import axios from 'axios'
import { ref } from 'vue'
import { url_prefix } from '../config/index'
import { url_prefix as url } from '../config/index'
import router from '@/router'
import { useUserStore } from '@/stores/user'
import { useInfoStore } from '@/stores/info'
import Loading from '../components/Loading.vue'

const userStore = useUserStore()
const infoStore = useInfoStore()

const email = ref('')
const password = ref('')
const isLoading = ref(false)

const login = async () => {
  // 校验字符串格式是否为邮箱
  const emailReg = /^[^\s@]+@[^\s@]+\.[^\s@]+$/
  if (!emailReg.test(email.value)) {
    console.error('Invalid email format')
    return
  }

  isLoading.value = true
  // 发送登录请求
  try {
    const a = url + '/api/login_register'
    await axios.post(a, {
      email: email.value,
      password: password.value
    }).then(function (response) {
      // 将信息写入store
      userStore.setUser(response.data)
      getInfo()
      setTimeout(() => router.push('/home'), 1000)
    })
  } catch (error) {
    console.error(error)
    router.push('/error')
  }
}
const getInfo = async () => {
  const token = userStore.token
  // 请求获取信息
  try {
    const a = url_prefix + '/api/get_info'
    await axios.get(a, {
      headers: { Authorization: token }
    }).then(function (response) {
      console.log(response.data)
      // 将信息写入store
      userStore.setUser(response.data.user)
      infoStore.setLedger(response.data.ledger)
      infoStore.setAccount(response.data.account)
      infoStore.setBudget(response.data.budget)
      infoStore.setRecord(response.data.record)
      console.log(infoStore.ledgerList)
      setTimeout(() => {
        router.push('/home')
      }, 1000)
    })
  } catch (error) {
    console.error(error)
    router.push('/error')
  }
}
</script>

<style scoped>
#form_box {
  width: 500px;
}
</style>./LoadingView.vue
