<template>
    <div>
        <Report></Report>
    </div>
    

</template>

<script setup>
import Report from '../components/ReportCard/ReportCard.vue';
import { ref } from 'vue';
import Budget from '../components/BudgetCard/BudgetCard.vue';
import Navbar from '../components/Navbar.vue';
import Ledgers from '../components/LedgerCard/Ledgers.vue';
import Stat from '../components/Stat.vue';
import Footer from '../components/Footer.vue';

// const refreshLedgers = ref(true);

</script>
