<template>
    <div>
        <div class="flex flex-col h-screen">
            <!-- Top Navigation Bar -->
            <Navbar class="p-5"></Navbar>
            <!-- Content Section -->
            <div class="flex flex-1 px-5 pb-5 gap-4 overflow-hidden max-w-screen">
                <!-- Sidebar -->
                <Budget class="flex-shrink-0 w-96"></Budget>
                <!-- Main Content -->
                <div class="flex flex-col gap-4 h-full w-full min-w-0">
                    <Ledgers class="max-w-full"></Ledgers>
                    <div class="flex gap-4 w-full h-full">
                        <Report class="grow"></Report>
                        <Stat></Stat>
                    </div>
                </div>
            </div>
            <!-- Footer Bar -->
            <Footer></Footer>
        </div>
        
    </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import router from '../router';
import Budget from '../components/BudgetCard/BudgetCard.vue';
import Loading from '../components/Loading.vue';
import Navbar from '../components/Navbar.vue';
import Ledgers from '../components/LedgerCard/Ledgers.vue';
import Report from '../components/ReportCard/ReportCard.vue';
import Stat from '../components/Stat.vue';
import Footer from '../components/Footer.vue';

import { useUserStore } from '@/stores/user'

const userStore = useUserStore()

onMounted(() => {
    if (userStore.id == 0){
        userStore.token = sessionStorage.getItem('token');
        router.push('/loading')
    }
});

</script>
