<template>
    <dialog class="modal">
        <div class="modal-box">
            <h3 class="font-bold text-lg">分配至：</h3>
            <br>
            <div class="p-3">

                <select v-model="selectedBudget" class="select select-bordered w-full max-w-s mt-1">
                    <option selected disabled value=0>选择预算</option>
                    <option v-for="(item, index) in infoStore.budgetList"
                        v-show="item.type != 0 && item.ledgerId == infoStore.ledgerList[infoStore.currentLedger].id"
                        :key="index" :value="item.id">{{ item.name }}</option>
                </select>

                <label class="input input-bordered flex items-center gap-2  my-2">
                    金额
                    <input type="text" v-model="amount" class="grow ml-8" placeholder="00.00" />
                </label>

                <div class="modal-action">
                    <button @click="assign2budget()" class="btn btn-primary">Submit</button>
                    <form method="dialog">
                        <!-- if there is a button in form, it will close the modal -->
                        <button class="btn">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </dialog>
</template>

<script setup>

import { ref } from 'vue'
import router from '../../router';
import { useInfoStore } from '../../stores/info'
import { useAxios } from '../../utils/axios'

const props = defineProps([ 'ledger_id'])
const infoStore = useInfoStore()

const selectedBudget = ref(0)
const amount = ref()


const assign2budget = async () => {
    const data = {
        from: props.ledger_id,
        to: selectedBudget.value,
        amount: amount.value,
        msg:'assign'
    }
    await useAxios('/budget', data, 'PUT').then((response) => {
        setTimeout(() => {
            router.push('/loading')
        }, 500)
    })
}
</script>