<template>
    <!-- 本体 -->
    <div class="mx-1 my-2">
        <div class="dropdown  dropdown-top dropdown-end w-full">
            <div tabindex="0" role="button">
                <div class="flex">
                    <div>
                        {{ props.budget.name }}
                    </div>
                    <div class="badge bg-neutral-300 ml-1 my-auto text-xs">{{ props.budget.outflow }}</div>
                    <div class="grow"></div>
                    <div class="text-xs mt-auto mb-0.5">
                        {{ props.budget.assigned }}/{{ props.budget.demand }}
                    </div>
                </div>
                <div class="flex m-1 h-2 rounded-lg overflow-hidden">
                    <div :style="{ width: outflowWidth * 100 + '%' }" class="bg-green-300"></div>
                    <div :style="{ width: assignedWidth * 100 + '%' }" class="bg-green-500"></div>
                    <div class="grow bg-gray-300"></div>
                </div>
            </div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                <!-- <li onclick="my_modal_2.showModal()"><a>Set Target</a></li> -->
                <li @click="reset_budget"><a>Reset</a></li>
                <li @click="delete_budget"><a class="text-red-500">Delete</a></li>
            </ul>
        </div>
    </div>

</template>


<script setup>
import { ref, computed } from 'vue'
import router from '../../router';
import { useAxios } from '../../utils/axios'
import { useInfoStore } from '../../stores/info';

const infoStore = useInfoStore();
const props = defineProps(['budget'])
const outflowWidth = computed(() => {
    return (props.budget.outflow / props.budget.demand)
})
const assignedWidth = computed(() => {
    return (props.budget.assigned / props.budget.demand - props.budget.outflow / props.budget.demand)
})

const reset_budget = async () => {
    const data = {
        msg: 'reset',
        id: props.budget.id,
        demand: props.budget.demand,
        assigned: 0,
        outflow: 0,
    }
    await useAxios('/budget', data, 'PUT').then((response) => {
        setTimeout(() => {
            router.push('/loading')
        }, 500)
    })
}

const delete_budget = async () => {
    await useAxios('/budget/'+props.budget.id,{} ,'DELETE').then((response) => {
        setTimeout(() => {
            router.push('/loading')
        }, 500)
    })
}


</script>

<style scoped></style>