<template>
    <div class="card px-5 w-96 min-w-96 bg-base-100 shadow-lg flex overflow-visible">

        <div class="overflow-scroll hide-scrollbar">
            <div class="flex mt-4">
                <button class="btn btn-neutral" onclick="assign_modal.showModal()">待分配资金：{{ assign }}</button>
                <div class="grow"></div>
                <div class="tooltip tooltip-left" data-tip="新预算">
                    <button onclick="add_budget_modal.showModal()" class="btn btn-square btn-ghost">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"
                            class="inline-block w-5 h-5 stroke-current">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="25 "
                                d="M480 480V128a32 32 0 0 1 64 0v352h352a32 32 0 1 1 0 64H544v352a32 32 0 1 1-64 0V544H128a32 32 0 0 1 0-64z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="collapse collapse-arrow mt-2 bg-base-200 overflow-visible">
                <input type="checkbox" checked />
                <div class="collapse-title text-xl font-medium">
                    账单
                </div>
                <div class="collapse-content">
                    <div class="divider h-2 m-0"></div>
                    <Budget v-for="(item, index) in infoStore.budgetList" :budget="item"
                        v-show="item.type === 1 && item.ledgerId === infoStore.ledgerList[infoStore.currentLedger].id">
                    </Budget>
                </div>
            </div>
            <div class="collapse collapse-arrow my-1.5 bg-base-200">
                <input type="checkbox" />
                <div class="collapse-title text-xl font-medium">
                    我需要
                </div>
                <div class="collapse-content">
                    <div class="divider h-2 m-0"></div>
                    <Budget v-for="(item, index) in infoStore.budgetList" :budget="item"
                        v-show="item.type === 2 && item.ledgerId === infoStore.ledgerList[infoStore.currentLedger].id">
                    </Budget>
                </div>
            </div>
            <div class="collapse collapse-arrow my-1.5 bg-base-200">
                <input type="checkbox" />
                <div class="collapse-title text-xl font-medium">
                    我想要
                </div>
                <div class="collapse-content">
                    <div class="divider h-2 m-0"></div>
                    <Budget v-for="(item, index) in infoStore.budgetList" :budget="item"
                        v-show="item.type === 3 && item.ledgerId === infoStore.ledgerList[infoStore.currentLedger].id">
                    </Budget>
                </div>
            </div>
            <div class="collapse collapse-arrow my-1.5 mb-4 bg-base-200">
                <input type="checkbox" />
                <div class="collapse-title text-xl font-medium">
                    存款
                </div>
                <div class="collapse-content">
                    <div class="divider h-2 m-0"></div>
                    <Budget v-for="(item, index) in infoStore.budgetList" :budget="item"
                        v-show="item.type === 4 && item.ledgerId === infoStore.ledgerList[infoStore.currentLedger].id">
                    </Budget>
                </div>
            </div>

        </div>
    </div>
</template>

<script setup>
import {ref, computed } from "vue";
import Assign from "./Assign.vue"
import Budget from "../BudgetCard/Budgets.vue"

import { useInfoStore } from "../../stores/info"
import { useUserStore } from "../../stores/user"


const infoStore = useInfoStore()
const userStore = useUserStore()


// 计算属性
const budgetShow1= computed(() => {
    try{
        if (infoStore.budgetList.length > 0) {
            return item.type === 1 && item.ledgerId === infoStore.ledgerList[infoStore.currentLedger].id
        }
    }
    catch{
        return 0
    }
})
const budgetShow2= computed(() => {
    try{
        if (infoStore.budgetList.length > 0) {
            return item.type === 2 && item.ledgerId === infoStore.ledgerList[infoStore.currentLedger].id
        }
    }
    catch{
        return 0
    }
})

const budgetShow3= computed(() => {
    try{
        if (infoStore.budgetList.length > 0) {
            return item.type === 3 && item.ledgerId === infoStore.ledgerList[infoStore.currentLedger].id
        }
    }
    catch{
        return 0
    }
})
const budgetShow4= computed(() => {
    try{
        if (infoStore.budgetList.length > 0) {
            return item.type === 4 && item.ledgerId === infoStore.ledgerList[infoStore.currentLedger].id
        }
    }
    catch{
        return 0
    }
})
const assign = computed(() => {
    let a = 0
    try{
        if (infoStore.budgetList.length > 0) {
            a = infoStore.budgetList.filter(item => item.type === 0 && item.ledgerId === infoStore.ledgerList[infoStore.currentLedger].id)[0].assigned
        }
        return a
    }
    catch{
        return 0
    }
})

</script>
<style scoped>
.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE 和 Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow: -moz-scrollbars-none;
    /* 旧版本的 Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}
</style>