<template>
  <div>
    <RouterView />
  </div>
</template>

<script setup>
import Navbar from './components/Navbar.vue';
import { ref } from 'vue'

const dataTheme = ref('light')
const setDataTheme = () => {
  dataTheme.value = dataTheme.value === 'light' ? 'dark' : 'light'
}
</script>
<style>
    html,body,#app{
      height: 100%;
      background-color: #F5F5F7;
    }
</style>